STARTED LINER REG WITH SAMPLE DATA SET
1st Import all needed libs

In [6]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
week_data=[1,2,3,4,5]
sales_data=[2,4,5,4,6]
df = pd.DataFrame({"week": week_data,
                   "sales": sales_data})

Split X and Y

In [3]:
X=df["week"].values
Y=df["sales"].values

In [4]:
df

   week  sales
0     1      2
1     2      4
2     3      5
3     4      4
4     5      6

In [5]:
X

array([1, 2, 3, 4, 5])

In [6]:
Y

array([2, 4, 5, 4, 6])

Take mean of both X and Y

In [13]:
x_mean=np.mean(X)
y_mean=np.mean(Y)
n=len(X)
numer=0
denom=0

In [11]:
x_mean
y_mean

np.float64(4.2)